target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
demo.zip
/src/main/java/software/design/rest/mysql/
/src/main/webapp/static/css/
/src/main/webapp/static/js/
/src/main/webapp/static/media/
